@model Web_Vet_Pet.Models.Appointment

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Appointment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dateBooking)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dateBooking)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.statusAppointment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.statusAppointment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Veterinarian)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Veterinarian.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Service)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Service.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pet.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
