@model IEnumerable<Web_Vet_Pet.Models.Appointment>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateBooking)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusBooking)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Service)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Veterinarian)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pet)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateBooking)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusBooking)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Service.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Veterinarian.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pet.Breed)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
